/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  margin: 0 auto;
}
img {
  width: 100%;
}
ul {
  display: inline;
  padding: 0
}
li {
  display: inline-block;
}
.social {
  width: auto;
  height: 30px;
  margin: 20px;
}
